// ============================== //
// IMPORTING FONTS //
// ============================== //
/* stuff */



// ============================== //
// TOP LEVEL //
// ============================== //
body {
	margin: 0 auto;
	background: $turkies;
}



// ============================== //
// HEADER //
// ============================== //
header {
	margin: 0 auto;
	width: 980px;
	background: $blue;
}



// ============================== //
// HEADER //
// ============================== //
main {
	margin: 0 auto;
	width: 980px;
	background: $red;
}



// ============================== //
// FOOTER //
// ============================== //
footer {
	margin: 0 auto;
	width: 980px;
	background: $green;
}
