@media screen and (max-width: 1200px) {
	body {
		background: $red;
	}
}
@media screen and (max-width: 980px) {
	body {
		width: 100%;
		background: #fff;
	}
	header {
		width: 100%;
		background: #fff;
	}
	main {
		width: 100%;
		background: #fff;
	}
	footer {
		width: 100%;
		background: #fff;
	}
}
@media screen and (max-width: 600px) {
	body {
		display: none;
	}
}
