body {
				margin: 0 auto; }
				body main {
								margin: 0 auto;
								width: 980px;
								background: red; }

header {
				margin: 0 auto;
				width: 980px;
				background: blue; }

footer {
				margin: 0 auto;
				width: 980px;
				background: green; }
